@import './fonts.css';

html {
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.6rem;
    letter-spacing: -0.5px;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

a {
    outline: none;
    text-decoration: none;
    color: #fff;
}


.container {
    max-width: 1020px;
    margin: auto;
}

.container .container__content {
    margin-left: 39px;
    margin-right: 39px;
}

.header {
    background-color: #2d303a;
    color: #fff;
    position: relative;
    margin-bottom: 8px;
}

.header::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    right: 0;
    width: 100%;
    height: 8px;
    background-color: #323746;
}

.header__content {
    width: 100%;
    padding-top: 32px;
    padding-bottom: 29px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;
    position: relative;
}

.logo {
    color: #fff;
}

.logo .logo__text_colored {
    color: #F06C64;
    font-size: 24px;
    position: absolute;
    right: -9px;
    top: 9px;
    line-height: 6px;
}

.header__navigation {
    margin-right: -27px;
    margin-top: 10px;
    max-width: 400px;
}

.header__navigation ul.navigation {
    display: flex;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.header__navigation ul.navigation li{
    position: relative;
    margin-right: 30px;
}

.header__navigation ul.navigation li::before{
    position: absolute;
    content: '';
    left: -17px;
    top: 50%;
    width: 3px;
    height: 3px;
    border-radius: 100%;
    background-color: #494E62;
}

.header__navigation ul.navigation li a:hover{
    color: #F06C64;
}


.header__navigation ul.navigation li:first-of-type::before {
    display: none;
}

.header__navigation ul:first-child {
    list-style-type: none;
}

main.main {
    position: relative;
    padding-top: 28px;
    padding-bottom: 36px;
    background-color: #F06C64;
    margin-bottom: 8px;
}

main.main::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    right: 0;
    width: 100%;
    height: 8px;
    background-color: #EA676B;
}

.slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.slider .slider__content {
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider .slider__content img:last-child {
    margin-top: 11px;
    margin-right: -3px;
}

.slider .slider__arrow-left, .slider__arrow-right {
    width: 16px;
    height: 27px;
}

.slider .slider__arrow-left:hover, .slider__arrow-right:hover {
    cursor: pointer;
}

.services {
    position: relative;
    padding-top: 71px;
    padding-bottom: 28px;
    background-color: #F2F2F2;
    margin-bottom: 8px;
}

.services::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    right: 0;
    width: 100%;
    height: 8px;
    background-color: #fff;
}

.services .services__title{
    font-weight: 700;
    font-size: 30px;
    line-height: 18px;
    color: #666D89;
    margin-bottom: 25px;
}

.services .services__text {
    margin-bottom: 47px;
    text-align: justify;
    font-size: 18px;
    font-weight: 300;
    color: #767E9E;
    line-height: 30px;
}

.services__advantages {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.services__advantages .advantage {
    max-width: 300px;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
}

.services__advantages .advantage img{
    margin-right: 18px;
}

.services__advantages .advantage .advantage__text h4 {
    margin-bottom: 10px;
    color: #666D89;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
}

.services__advantages .advantage .advantage__text p {
    text-align: justify;
    margin-bottom: 10px;
    color: #767E9E;
    font-size: 12px;
    line-height: 21px;
}



